<div class="wrapper">

  <my-header></my-header>

  <!-- Left side column. contains the logo and sidebar -->
  <pconnect-aside></pconnect-aside>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 883px;">
    <router-outlet>
    </router-outlet>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>PConnect Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2018-2020  金飞 .</strong>
  </footer> -->

  <pconnect-footer></pconnect-footer>
  
  <div class="control-sidebar-bg"></div>
</div>
